* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.section-1 {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
}

/*** HEADER AND NAVBAR ****/

.navbar-toggler-icon {
    filter: invert(100%)
}

.navbar-toggler {
    color: rgba(255, 255, 255, 0.349);
    font-size: 14px;
    padding: 5px;
    border-radius: 2px;
}

button,
nav {
    text-align: right;
}

nav ul li {
    padding-left: 15px;
    font-weight: 500;
    text-shadow: -1px 1px 19px rgba(0,0,0,0.49);
}

.nav-link {
    color: rgb(255, 255, 255);
}

.nav-link:focus {
    color: rgb(255, 255, 255);
}

.dropdown-menu {
    background-color: rgb(68, 67, 67);
}

/*** HEADER AND NAVBAR ****/


.col-1 {
    min-width: 300px;
}

.col-1 video {
    width: 100%;
    padding: 60px 0;
    border-radius: 50%;
}

.col-1 h1{
    color: #fff;
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    text-shadow: -1px 1px 19px rgba(0,0,0,0.49);
}

.col-1 p {
    font-size: 14px;
    color: rgb(241, 241, 241);
    text-shadow: -1px 1px 19px rgba(0,0,0,0.49);
}

.col-1 .btn, 
.col-6 .btn {
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    background-color: #000;
    transition: .3s;
    font-size: 14px;
    margin: 12px 0;
}

.col-1 .btn:hover,
.col-6 .btn:hover {
    color: #000;
    background-color: #fff;
}
/* @media screen and  (max-width: 576px) {
    .col-4 {
        flex-basis: 100%;
        width: 100%;
    }
} */

@media screen and  (max-width: 768px) {
    .banner .row-cols-md-2 {
        padding: 25px 25px;
    }
    .banner .col-1 h1 {
        font-size: 35px;
        line-height: 40px;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    .banner .row-cols-md-2 {
        padding: 25px 25px;
    }
    .banner .col-1 h1 {
        font-size: 35px;
        line-height: 40px;
    }
}

/*** SECTION 2 CONTENTS  ***/

/**** CATEGORIES *****/

.categories {
    margin: 70px 0;
}

.categories .col-3 {
    flex-basis: 30%;
    min-width: 300px;
    margin-bottom: 30px;
    position: relative;
    transition: transform .5s;
}

.categories .col-3:hover {
    transform: translateY(-20px);
}

.categories .col-3 .featured-cards,
.categories .col-3 .featured-desktops,
.categories .col-3 .featured-accessories {
    height: 400px;
    width: 100%;
}

.col-3 .featured-cards {
    background: url(../images/featured-1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-image: cover;
}

.col-3 .featured-desktops {
    background: url(../images/featured-2.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-image: cover;
}

.col-3 .featured-accessories {
    background: url(../images/featured-3.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-image: cover;
}

.col-3 .featured-cards h4,
.col-3 .featured-desktops h4,
.col-3 .featured-accessories h4 {
    text-align: center;
    margin: 0 auto;
    opacity: 0;
    transition: opacity .4s;
    color: #fff;
    text-shadow: -1px 1px 19px rgba(0,0,0,0.49);
}

.col-3:hover h4 {
    opacity: 1;
}

/**** CATEGORIES *****/

/**** FEATURED PRODUCTS *****/

.title {
    text-align: center;
    margin: 0 auto 80px ;
    line-height: 60px;
    color: #000;
    position: relative;
}

.title::after{
    content: '';
    background-color: brown;
    width: 80px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.products .col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    border: 1px solid #fff;
    transition: border .5s;
    transition: transform .5s;
}

.products .col-4:hover {
    border: 1px solid brown;
    transform: translateY(-20px);
}

.products .col-4 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.products .col-4 .save {
    background-color: #bb0628;
    color: #fff;
    padding: 2px;
}

.products .col-4 h4 {
    color: #333;
    font-weight: normal;
    font-size: 18px;
}

.products .col-4 h4:hover {
    font-weight: 500;
}

.products .col-4 p {
    font-size: 15px;
}

.rating {
    color: brown;
    margin-bottom: 3px;
}

.products .btn {
    font-size: 14px;
    padding: 5px 15px;
    border: 1px solid #555;
    border-radius: 0;
    margin-bottom: 50px;
}

.products .btn:hover {
    border: 1px solid brown;
}

/**** FEATURED PRODUCTS *****/

/**** EXCLUSIVE *****/

.offer {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    margin-top: 80px;
    padding: 30px 0;
}

.col-6 {
    max-width: 500px;
    padding: 50px 20px;
    color: rgb(7, 7, 7);
    text-shadow: -1px 1px 19px rgba(0,0,0,0.49);
}

.col-6 h1 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 500;
    color: #fff;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    opacity: 0;
}

/**** EXCLUSIVE *****/


/* **** TESTIMONIAL ****** */

.testimonial {
    margin-top: 100px;
}

.testimonial h3 {
    margin-top: 10px;
    font-size: 18px;
}

.testimonial p {
    font-size: 12px;
    color: #777;
}

.testimonial .bi-quote {
    font-size: 45px;
    color: brown;
}
.testimonial .col-tes {
    text-align: center;
    padding: 40px 20px;
    cursor: pointer;
    transition: transform .5s;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.testimonial .col-tes:hover {
    transform: translateY(-20px);
}

.testimonial img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    border-radius: 50%;
    object-fit: cover;
}

/* **** TESTIMONIAL ****** */


/* **** BRANDS ****** */

.brands {
    margin: 100px 0;
}

.brands .col-5 {
    width: 160px;
}

.brands img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.brands img:hover {
    filter: grayscale(0);
}

/* **** BRANDS ****** */

/* **** FOOTER ****** */

.section-3 {
    background-color: #000;
}

footer .col-4 {
    max-width: 400px;
    text-align: center;
    margin: 2px auto;
    color: rgb(228, 225, 225);  
}

footer .col-4 img {
    width: 60%;
}

footer h6 {
    font-size: 16px;
}

footer ul li a {
    color: #fff;
}

footer hr {
    border: none;
    background-color: #777;
    height: 1px;
}