* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  
}
/* Header */
.header {
  background: rgb(82,80,80);
  background: linear-gradient(140deg, rgba(82,80,80,1) 3%, rgba(255,255,255,1) 23%, rgba(5,5,5,0.8463760504201681) 45%, rgba(0,0,0,0.7455357142857143) 66%, rgba(139,139,139,0.8015581232492998) 86%);
  position: fixed;
  width: 100%;
  
}
.header nav ul li {
  padding-left: 22px;
  color: #fff;
  font-size: 18px;
}
.header nav ul li a.active,
.header nav ul li a:hover {
  color: rgb(236, 115, 115); 
}

.header nav .checkbtn {
  font-size: 25px;
  background-color: #4d4c4c;
  border-radius: 5px;
  padding: 0px 5px;
  color: #fff;
  display: none;
}
.header nav #check {
  display: none;
  
}
.header .large-screen-hidden {
  display: none;
}
/*---- JS script extra class ----*/
.sticky {
  position: fixed;
  top: 0;
  background: rgb(82,80,80);
  background: linear-gradient(140deg, rgba(82,80,80,1) 3%, rgba(255,255,255,1) 23%, rgba(5,5,5,0.8463760504201681) 45%, rgba(0,0,0,0.7455357142857143) 66%, rgba(139,139,139,0.8015581232492998) 86%);
  width: 100%;
  z-index: 999;
  
}

.sticky nav .first-ul li {
  font-size: 17px;
}

.sticky img {
  width: 145px;
}

.navbar.sticky ul li a {
  font-size: 12px;
  padding: 2px;
  font-size: 16px!important;
}

@media screen and (max-width: 576px) {
  .header {
      background-color: rgb(172, 161, 161);
  }
  .header nav {
      display: flex;
      justify-content: end;
  }
  .header nav .first-ul {
      display: flex;
      position: fixed;
      background-color: rgb(150, 150, 150);
      top: 90px;
      left: 100%;
      text-align: center;
      flex-direction: column;
      width: 100%;
      transition: all .4s ease-in-out;
  }
  .header nav .first-ul li {
      margin: 15px;
  }
  .header nav .checkbtn {
      display: flex;
  }
  .header nav #check:checked ~ .first-ul {
      left: 0;
  }
  .header .large-screen-hidden {
      display: inline-block;
  }
  
  .sticky {
      display: none;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .header {
      background-color: rgb(172, 161, 161);
  }
  .header nav {
      display: flex;
  }
  .header nav .first-ul {
      display: flex;
      position: fixed;
      background-color: rgb(150, 150, 150);
      top: 100px;
      left: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      transition: all .5s ease-in-out;
  }
  .header nav .first-ul li {
      margin: 15px;
  }
  .header nav .checkbtn {
      display: block;
  }
  .header nav #check:checked ~ .first-ul {
      left: 0;
  }

  .header .large-screen-hidden {
      display: block;
  }

  .sticky {
      display: none;
  }
}

/**** PRODUCTS PAGE *****/
.product-page .product-page-row{
  padding: 100px 0 20px 0;
}
.product-page .product-page-row .col-6 {
  padding: 20px;
}
.product-page .col-6 h4 {
  font-size: 30px;
  font-weight: 600;
}
.product-page .col-6 p {
  font-size: 15px;
  margin: 0;
}
.product-page .product-page-price p {
  font-size: 20px;
}
.product-page .product-page-price .save-small {
  background-color: #bb0628;
  color: #fff;
  padding: 2px;
}
.product-page .product-page-cart {
  margin: 10px 0;
}
.product-page .product-page-cart a {
  color: #fff;
  background-color: #000;
  padding: 5px 15px;
  font-size: 13px;
  border: 1px solid rgb(0, 0, 0);
  transition: all .4s ease-in-out;
} 
.product-page .product-page-cart a:hover {
  color: #000;
  background-color: #fff;;
}
.product-page .product-page-cart input {
  width: 40px;
  height: 30px;
  border: 1px solid brown;
  outline: 0;
  border-radius: 0;
}

.product-page .small-img-container .col-3 {
  flex-basis: 24%;
  display: flex;
  cursor: pointer;
  transition: all .3s ease-in-out;
  object-fit: cover;
  border: 1px solid black;
}
.product-page .small-img-container .col-3:hover {
  flex-basis: 24%;
  display: flex;
  cursor: pointer;
  transform: translateY(-20px);
  border: 1px solid brown;
}
.product-page .details-row {
  margin-bottom: 150px;
}
.product-page .details-row .accordion-button {
  background: rgb(255,255,255);
background: linear-gradient(274deg, rgba(255,255,255,0.8939950980392157) 0%, rgba(0,0,0,0.7875525210084033) 37%, rgba(255,255,255,0.7399334733893557) 74%);
}
.product-page .details-row .accordion-button:focus {
  background: rgb(255,255,255);
  background: linear-gradient(274deg, rgba(255,255,255,0.7399334733893557) 37%, rgba(0,0,0,0.9612219887955182) 68%);
  color:rgb(250, 250, 250)
}
.details-row .col-12 h3 {
  font-weight: 600;
}
.details-row .col-12 p {
  font-size: 13px;
}
.specification-col-rows .col-6 {
  padding: 5px;
}
.bi-text-indent-left {
  font-size: 16px;
  color: brown;
}


/**** FEATURED PRODUCTS *****/
.title {
  text-align: center;
  margin: 0 auto 80px ;
  line-height: 60px;
  color: #000;
  position: relative;
}

.title::after{
  content: '';
  background-color: brown;
  width: 80px;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.products .col-4 {
  flex-basis: 23%;
  margin: 10px;
  padding: 5px;
  min-width: 200px;
  margin-bottom: 30px;
  border: 1px solid #fff;
  transition: all .3s ease-in-out;
  position: relative;
  background: rgb(238,238,238);
  background: linear-gradient(0deg, rgba(238,238,238,0.47102591036414565) 35%, rgba(55,55,55,0.8519782913165266) 80%);
}
.products .col-4 h4 {
  color: #333;
  font-weight: normal;
  font-size: 16px;
  transition: all .3s ease-in-out;
}
.products .col-4:hover {
  border: 1px solid brown;
  transform: translateY(-20px);
}
.products .col-4:hover h4 {
  font-weight: 500;
}
.products .col-4 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  background: white;
}
.products .col-4 p .wishlist {
  padding: 2px 5px;
  background-color: rgba(15, 14, 14, 0.795);
  font-size: 12px;
  opacity: 0;
  transition: all .2s ease-in-out;
  color: #ffffff;
}
.products .col-4 a p {
  margin: 2px 5px;
}
.products .col-4 a p:hover .wishlist {
  opacity: 1;
}
.products .col-4 a p {
  position: absolute;
  color: #000;
}
.products .col-4 a p .bi-suit-heart {
  opacity: 0;
  color: rgb(0, 0, 0);
}
.products .col-4:hover .bi-suit-heart {
  opacity: 1;
  
}
.products .col-4 .bi-suit-heart:hover {
  color: brown;
}
.products .col-4 .save {
  background-color: #bb0628;
  color: #fff;
  padding: 2px;
}
.products .col-4 p {
  font-size: 15px;
  margin: 0;
  font-weight: 500;
}
.rating {
  color: brown;
  margin-bottom: 3px;
}
.products .btn {
  font-size: 14px;
  padding: 5px 15px;
  border: 1px solid #555;
  border-radius: 0;
  margin-bottom: 50px;
}
.products .btn:hover {
  border: 1px solid brown;
}
.products .cart a {
  color: #fff;
  background-color: #000;
  padding: 5px 15px;
  font-size: 13px;
  border: 1px solid rgb(0, 0, 0);
  opacity: 0;
  transition: opacity .4s ease-in-out;
  transition: color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}
.products .col-4:hover .cart a {
  opacity: 1;
}
.products .cart a:hover {
  color: #000;
  background-color: #fff;
}
.products .product-price-cart {
  margin-bottom: 5px;
}


/* **** TESTIMONIAL ****** */
.testimonial {
  margin-top: 100px;
}

.testimonial h3 {
  margin-top: 10px;
  font-size: 18px;
}

.testimonial p {
  font-size: 12px;
  color: #777;
}

.testimonial .bi-quote {
  font-size: 45px;
  color: brown;
}
.testimonial .col-tes {
  text-align: center;
  padding: 40px 20px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.testimonial .col-tes:hover {
  transform: translateY(-20px);
}

.testimonial img {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  border-radius: 50%;
  object-fit: cover;
}

/* **** TESTIMONIAL ENDS ****** */


/* **** BRANDS ****** */

.brands {
  margin: 50px 0;
}

.brands .col-5 {
  flex-basis: 20%;
  text-align: center!important;
}

.brands img {
  width: 100px;
  cursor: pointer;
  filter: grayscale(100%);
}

.brands img:hover {
  filter: grayscale(0);
}

/* **** BRANDS ENDS ****** */

/******** MEDIA QUERIES **********/

@media screen and (max-width: 576px) {
  .products .row {
      flex-direction: column;
  }
  .products .col-4 .cart a {
      opacity: 1 !important;
  }
  .products .row .col-4{
      width: 85%;
      margin: 10px auto;
      padding: 20px;
      border: 1px solid rgb(165, 130, 130);
  }
  .product-page-row {
      display: flex;
      flex-direction: column;
  }
  .product-page-row .col-6 {
      flex-basis: 100%;
      width: 100%;
  }

  .testimonial .row {
      flex-direction: column;
      justify-content: center;
  }
  .testimonial .row .col-3 {
      flex: 100%;
      width: 75%;
      text-align: center;
      margin: 5px auto;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .product-page {
    flex-direction: column!important;
  }

  .products .row .col-4 .buy-me{
      flex-wrap: wrap;
  }
  .products .row .col-4{
      flex: 45%;
      width: 100%;
      margin: 10px;
      padding: 20px;
      border: 1px solid rgb(165, 130, 130);
  }
  .products .cart a {
      opacity: 1;
  }

  .testimonial .row {
      flex-direction: row;
      justify-content: center;
  }

  .testimonial .row .col-3 {
      flex-basis: 30%;
      width: 100%;
      text-align: center;
      margin: 5px auto;
  }
}
/* footer */
.footer {
  background-color: #000;
}

footer .col-3 {
  text-align: center;
  margin: 2px auto;
  color: #fff;  
}
footer .links {
  flex-basis: 15%;
}
footer .col-3 img {
  width: 50%;
}
footer .col-3 p {
  font-size: 13px;
  text-align: left;
}

footer h6 {
  font-size: 16px;
}
footer ul li {
  text-align: center;
  margin-bottom: 5px ;
  font-size: 13px;
}

footer ul li a {
  color: #777;
  text-decoration: none;
}
footer ul li a:hover {
  color: brown;
}
footer .col-3 .col-12 input {
  border: 1px solid rgba(165, 42, 42, 0.418);
}
footer .col-3 .col-12 input:focus {
  outline: none;
}
footer .col-3 .col-12 a {
  border: 1px solid rgba(165, 42, 42, 0.418);
  transition: all .2s ease-in-out;
} 
footer .col-3 .col-12 a:hover .bi-bell-fill {
  color: brown;
}
footer hr {
  border: none;
  background-color: rgb(158, 158, 158);
  height: 2px;
  margin: 5px auto;
}
footer .row .col-3 .fs-6{
  font-size: 12px!important;
  color: #777;
  margin-bottom: 5px;
}

@media screen and (max-width: 576px) {
  footer .col-3 {
      flex-basis: 100%;
      margin-bottom: 20px;
  }
  footer .col-3 p {
      text-align: center;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  footer .col-3 {
      flex-basis: 50%;
      margin-bottom: 20px;
  }
  footer .col-3 p {
      text-align: center;
  }
}