* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.footer {
    background-color: #000;
}

footer .col-3 {
    text-align: center;
    margin: 2px auto;
    color: #fff;  
}
footer .links {
    flex-basis: 15%;
}
footer .col-3 img {
    width: 50%;
}
footer .col-3 p {
    font-size: 13px;
    text-align: left;
}

footer h6 {
    font-size: 16px;
}
footer ul li {
    text-align: center;
    margin-bottom: 5px ;
    font-size: 13px;
}

footer ul li a {
    color: #777;
    text-decoration: none;
}
footer ul li a:hover {
    color: brown;
}
footer .col-3 .col-12 input {
    border: 1px solid rgba(165, 42, 42, 0.418);
}
footer .col-3 .col-12 input:focus {
    outline: none;
}
footer .col-3 .col-12 a {
    border: 1px solid rgba(165, 42, 42, 0.418);
    transition: all .2s ease-in-out;
} 
footer .col-3 .col-12 a:hover .bi-bell-fill {
    color: brown;
}
footer hr {
    border: none;
    background-color: rgb(158, 158, 158);
    height: 2px;
    margin: 5px auto;
}
footer .row .col-3 .fs-6{
    font-size: 12px!important;
    color: #777;
    margin-bottom: 5px;
}