* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    background: rgba(0, 0, 0, 0);
    position: fixed;
    width: 100%;
}
.header img {
    padding: 8px;
}
.header nav ul li {
    padding-left: 22px;
    color: #fff;
    font-size: 18px;
}
.header nav ul li a.active,
.header nav ul li a:hover {
    color: rgb(236, 115, 115); 
}

.header nav .checkbtn {
    font-size: 25px;
    background-color: #4d4c4c;
    border-radius: 5px;
    padding: 0px 5px;
    color: #fff;
    display: none;
}
.header nav #check {
    display: none;
    
}
.header .large-screen-hidden {
    display: none;
}
/*---- JS script extra class ----*/
.sticky {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.842);
    width: 100%;
    z-index: 999;
    
    
}

.sticky nav .first-ul li {
    font-size: 17px;
}

.sticky img {
    width: 145px;
    padding: 8px;
}

.navbar.sticky ul li a {
    font-size: 12px;
    padding: 2px;
    font-size: 16px!important;
}

@media screen and (max-width: 576px) {
    .header {
        background-color: rgb(172, 161, 161);
    }
    .header nav {
        display: flex;
        justify-content: end;
    }
    .header nav .first-ul {
        display: flex;
        position: fixed;
        background-color: rgb(150, 150, 150);
        left: 100%;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: all .4s ease-in-out;
    }
    .header nav .first-ul li {
        margin: 15px;
    }
    .header nav .checkbtn {
        display: flex;
    }
    .header nav #check:checked ~ .first-ul {
        left: 0;
    }
    .header .large-screen-hidden {
        display: inline-block;
    }
    
    .sticky {
        display: none;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .header {
        background-color: rgb(172, 161, 161);
    }
    .header nav {
        display: flex;
    }
    .header nav .first-ul {
        display: flex;
        position: fixed;
        background-color: rgb(150, 150, 150);
        top: 100px;
        left: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        transition: all .5s ease-in-out;
    }
    .header nav .first-ul li {
        margin: 15px;
    }
    .header nav .checkbtn {
        display: block;
    }
    .header nav #check:checked ~ .first-ul {
        left: 0;
    }

    .header .large-screen-hidden {
        display: block;
    }

    .sticky {
        display: none;
    }
}