* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.section-1 {
    background: rgb(0,0,0);
    background: linear-gradient(342deg, rgba(0,0,0,0.9023984593837535) 50%, rgba(255,255,255,0) 100%);
    min-height: 760px;
}

/*** HEADER AND NAVBAR ****/

.navbar-toggler-icon {
    filter: invert(100%)
}

.navbar-toggler {
    color: rgba(255, 255, 255, 0.158);
    font-size: 14px;
    padding: 5px;
    border-radius: 2px;
    background-color: rgb(0, 0, 0);
}

button,
nav {
    text-align: right;
}

nav ul li {
    padding-left: 15px;
    font-weight: 500;
    text-shadow: -1px 1px 19px rgba(0,0,0,0.49);
}

.nav-link {
    color: rgb(255, 255, 255);
}

.nav-link:focus {
    color: rgb(255, 255, 255);
}

.dropdown-menu {
    background-color: rgb(68, 67, 67);
}

/*** HEADER AND NAVBAR ****/


.banner .col-1 {
    min-width: 300px;
}

.banner .col-1 video {
    width: 100%;
    padding: 60px 0;
    border-radius: 50%;
}

.banner .col-1 h1{
    color: #fff;
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    text-shadow: -1px 1px 19px rgba(0,0,0,0.49);
}

.banner .col-1 p {
    font-size: 14px;
    color: rgb(241, 241, 241);
    text-shadow: -1px 1px 19px rgba(0,0,0,0.49);
}

.banner .col-1 .btn, 
.offer .col-6 .btn {
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    background-color: #000;
    transition: .3s;
    font-size: 14px;
    margin: 12px 0;
    transition: all .3s ease-in-out;
}

.banner .col-1 .btn:hover,
.offer .col-6 .btn:hover {
    color: #000;
    background-color: #fff;
}




/*** SECTION 2 CONTENTS  ***/

/**** CATEGORIES *****/

.categories {
    margin: 70px 0;
}

.categories .col-3 {
    min-width: 400px;
    margin-bottom: 30px;
    position: relative;
    transition: all .5s ease-in-out;
}

.categories .col-3:hover {
    transform: translateY(-20px);
}
.categories .col-3 .featured-cards,
.categories .col-3 .featured-desktops,
.categories .col-3 .featured-accessories {
    height: 400px;
    width: 100%;
}
.categories .col-3 .featured-cards {
    background: url(../images/featured-1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-image: cover;
}
.categories .col-3 .featured-desktops {
    background: url(../images/featured-2.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-image: cover;
}
.categories .col-3 .featured-accessories {
    background: url(../images/featured-3.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-image: cover;
}
.categories .col-3 .overlay {
    transition: all .5s ease-in-out;
}
.categories .col-3:hover .overlay {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.8435749299719888) 0%, rgba(255,255,255,0.40379901960784315) 100%);
    width: 100%;
    height: 100%;
}
.categories .col-3 .featured-title h4 {
    font-size: 30px;
    text-align: center;
    padding: 8px 25px;
    border: 1px solid rgb(114, 110, 110);
    box-shadow: -1px 11px 43px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 11px 43px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 11px 43px 0px rgba(0,0,0,0.75);;
    margin: 0 auto;
    opacity: 0;
    transition: all .5s ease-in-out;
    color: rgb(255, 255, 255);
    text-shadow: -3px 2px 25px rgba(0,0,0,0.49);
    text-transform: uppercase;
    background: rgb(255,255,255);
    background: linear-gradient(140deg, rgba(255,255,255,0.2861519607843137) 45%, rgba(0,0,0,0.7539390756302521) 60%);
}
.categories .col-3:hover .featured-title h4  {
    opacity: 1;
    border: 1px solid rgb(114, 110, 110);
}
.categories .vanishing-featured-title {
    display: flex;
    justify-content: center;
    margin: 0 auto 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 8px 25px;
    border: 1px solid rgb(114, 110, 110);
    opacity: 1;
    transition: all .5s ease-in-out;
    color: rgb(0, 0, 0);
    text-shadow: -3px 2px 25px rgba(0,0,0,0.49);
    text-transform: uppercase;
    background: rgb(255,255,255);
    background: linear-gradient(140deg, rgba(255,255,255,0.2861519607843137) 45%, rgba(0,0,0,0.7539390756302521) 60%);
    width: 85%;
}
.categories .col-3:hover .vanishing-featured-title  {
    opacity: 0;
}


/**** CATEGORIES *****/

/**** FEATURED PRODUCTS *****/

.title {
    text-align: center;
    margin: 0 auto 80px ;
    line-height: 60px;
    color: #000;
    position: relative;
}

.title::after{
    content: '';
    background-color: brown;
    width: 80px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.products .col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    border: 1px solid #fff;
    transition: all .3s ease-in-out;
    position: relative;
}
.products .col-4 h4 {
    color: #333;
    font-weight: normal;
    font-size: 16px;
    transition: all .3s ease-in-out;
}
.products .col-4:hover {
    border: 1px solid brown;
    transform: translateY(-20px);
}
.products .col-4:hover h4 {
    font-weight: 500;
}
.products .col-4 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.products .col-4 p .wishlist {
    padding: 2px 5px;
    background-color: rgba(15, 14, 14, 0.795);
    font-size: 12px;
    opacity: 0;
    transition: all .2s ease-in-out;
    color: #ffffff;
}
.products .col-4 a p:hover .wishlist {
    opacity: 1;
}
.products .col-4 a p {
    position: absolute;
    color: #000;
}
.products .col-4 a p .bi-suit-heart {
    opacity: 0;
    color: rgb(0, 0, 0);
}
.products .col-4:hover .bi-suit-heart {
    opacity: 1;
    
}
.products .col-4 .bi-suit-heart:hover {
    color: brown;
}
.products .col-4 .save {
    background-color: #bb0628;
    color: #fff;
    padding: 2px;
}
.products .col-4 p {
    font-size: 15px;
    margin: 0;
}

.rating {
    color: brown;
    margin-bottom: 3px;
}

.products .btn {
    font-size: 14px;
    padding: 5px 15px;
    border: 1px solid #555;
    border-radius: 0;
    margin-bottom: 50px;
}

.products .btn:hover {
    border: 1px solid brown;
}

.products .cart a {
    color: #fff;
    background-color: #000;
    padding: 5px 15px;
    font-size: 13px;
    border: 1px solid rgb(0, 0, 0);
    opacity: 0;
    transition: opacity .4s ease-in-out;
    transition: color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}

.products .col-4:hover .cart a {
    opacity: 1;
}

.products .cart a:hover {
    color: #000;
    background-color: #fff;
}

/**** FEATURED PRODUCTS *****/

/**** EXCLUSIVE *****/

.offer {
    background: rgb(0,0,0);
    background: linear-gradient(342deg, rgba(0,0,0,0.9023984593837535) 50%, rgba(255,255,255,0) 100%);
    margin-top: 80px;
    padding: 30px 0;
}

.offer .carousel {
    width: 100%;
    text-align: center;
    transition: all .3s ease-in-out;
}

.offer .carousel:hover {
    scale: 1.1;
}

.offer .col-6 {
    max-width: 500px;
    padding: 50px 20px;
    color: #b6b6b6;
    text-shadow: -1px 1px 19px rgba(0,0,0,0.49);
}

.offer .col-6 h1 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 500;
    color: #fff;
}

.offer .carousel-control-next-icon,
.offer .carousel-control-prev-icon {
    opacity: 0;
}

/**** EXCLUSIVE ENDS *****/


/* **** TESTIMONIAL ****** */

.testimonial {
    margin-top: 100px;
}

.testimonial h3 {
    margin-top: 10px;
    font-size: 18px;
}

.testimonial p {
    font-size: 12px;
    color: #777;
}

.testimonial .bi-quote {
    font-size: 45px;
    color: brown;
}
.testimonial .col-tes {
    text-align: center;
    padding: 40px 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.testimonial .col-tes:hover {
    transform: translateY(-20px);
}

.testimonial img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    border-radius: 50%;
    object-fit: cover;
}

/* **** TESTIMONIAL ENDS ****** */


/* **** BRANDS ****** */

.brands {
    margin: 100px 0;
}

.brands .col-5 {
    width: 160px;
}

.brands img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.brands img:hover {
    filter: grayscale(0);
}

/* **** BRANDS ENDS ****** */

/* **** FOOTER ****** */

.section-3 {
    background-color: #000;
}

footer .col-4 {
    max-width: 400px;
    text-align: center;
    margin: 2px auto;
    color: rgb(228, 225, 225);  
}

footer .col-4 img {
    width: 60%;
}

footer h6 {
    font-size: 16px;
}

footer ul li a {
    color: #fff;
}

footer hr {
    border: none;
    background-color: #777;
    height: 1px;
}

/******** MEDIA QUERIES **********/



@media screen and (min-width: 577px) and (max-width: 768px) {

    .nav-item .cart-acount {
        display: none;
    }
    .section-1 {
        min-height: 500px;
    }

    .nav-link {
        background-color: rgb(85, 84, 84);
    }
    .banner .row-cols-md-2 {
        padding: 25px 25px;
    }
    .banner .col-1 h1 {
        font-size: 35px;
        line-height: 40px;
    }
    .products-dropdown {
        text-align: center;
        margin: 0 !important;
        padding: 0 !important;
    }

    .products .row .col-4 .buy-me{
        flex-wrap: wrap;
    }

    .products .row .col-4{
        flex: 45%;
        width: 100%;
        margin: 10px;
        padding: 20px;
        border: 1px solid rgb(165, 130, 130);
    }
    .products .cart a {
        opacity: 1;
    }

    .offer .row {
        flex-direction: column;
    }
    .offer .row .left {
        width: 60%;

    }
    .offer .row .right {
        width: 100%;
        padding: 20px!important;
    }

    .testimonial .row {
        flex-direction: row;
        justify-content: center;
    }

    .testimonial .row .col-3 {
        width: 30%;
        text-align: center;
        margin: 5px auto;

    }

 
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    .banner .row-cols-md-2 {
        padding: 25px 25px;
    }
    .banner .col-1 h1 {
        font-size: 35px;
        line-height: 40px;
    }

    
}

@media screen and (max-width: 576px) {


    .products .row {
        flex-direction: column;
    }
    .products .col-4 .cart a {
        opacity: 1 !important;
    }
    .products .row .col-4{
        width: 85%;
        margin: 10px auto;
        padding: 20px;
        border: 1px solid rgb(165, 130, 130);
    }

    .offer .row {
        flex-direction: column;
    }
    .offer .row .left {
        width: 60%;

    }
    .offer .row .right {
        width: 100%;
        padding: 20px!important;
    }

    .testimonial .row {
        flex-direction: column;
        justify-content: center;
    }
    .testimonial .row .col-3 {
        width: 80%;
        text-align: center;
        margin: 5px auto;
    }
    
    .categories .row {
        display: flex;
        max-width: 500px;
        margin: 0 auto;
    }

    .categories .row .col-3 {
        width: 100%;
    }

}