<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../components/styles/components.css">
    <link rel="stylesheet" href="../components/styles/header.css">
    <link rel="stylesheet" href="../components/styles/footer.css">

    <title>Computer Cards and Components - Shop and Game</title>
</head>
<body>
    
<!------------------ HEADER START ---------------->

    <header class="header">
        <div class="container-lg align-items-center justify-content-between flex-wrap">
            <div class="row">
                <div class="col-6">
                    <div class="logo">
                        <a href="#">
                            <img src="../home/images/logo2.png" width="150">
                        </a>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <nav class="navbar d-flex "> 
                        <input type="checkbox" id="check">
                        <label for="check" class="checkbtn mx-2 ">
                            <i class="bi bi-list"></i>
                        </label>
                        <ul class="first-ul d-flex list-unstyled mb-0" id="mainmenu">
                            <li class="nav-item">
                                <a href="#" class="nav-link ">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Products
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a href="../Accessories/accessories.html" class="dropdown-item">Accessories</a></li>
                                    <li><a href="#" class="dropdown-item active">Cards and Components</a></li>
                                    <li><a href="#" class="dropdown-item">Desktops</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Contact</a>
                            </li>
                            <li class="nav-item d-flex justify-content-center mx-auto">
                                <a href="#" class="nav-link d-flex">
                                    <span class="large-screen-hidden">
                                        Your Cart
                                    </span>
                                    <i class="bi bi-cart mx-2" title="Your Cart"></i>
                                </a>
                            </li>
                            <li class="nav-item d-flex justify-content-center mx-auto">
                                <a href="#" class="nav-link d-flex">
                                    <span class="large-screen-hidden">
                                        Account 
                                    </span><i class="bi bi-person-circle mx-2" title="Profile"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section class="section-1 d-flex align-items-end">
        <div class="container-lg banner ">
            <div class="row-cols-md-2 d-flex align-items-center flex-wrap justify-content-around m-4 banner-row ">
                <div class="col-6">
                    <h1>Computer Cards and Components</h1>
                    <p>Graphics Processing Unit (GPU), Random Access Memory, <br>Processor and many more.. </p>
                </div>
                <div class="col-6 banner-image">
                    <div class="components-banner-bg d-flex justify-content-center mx-auto">
                        <img src="../components/images/components-banner.jpeg" >
                    </div>
                </div>
            </div>
        </div>
    </section>

    
 <!-- ------------------ FEATURED CATEGORIES ---------------------- -->

    <section class="section-2">
        <div class="components">
            <div class="container-lg m-lg-auto">
                <div class="row d-flex justify-content-around pt-5">
                    <div class="col-4">
                        <div class="bg-container">
                            <a href="#" class="text-decoration-none">
                                <div class="components-img d-flex flex-column justify-content-center mx-auto ">
                                    <img src="../components/images/components-1.jpg" class="">
                                    <h4 class="mt-5 text-center">Graphics Processing Unit (GPU)</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="bg-container">
                            <a href="#" class="text-decoration-none">
                                <div class="components-img d-flex flex-column justify-content-center mx-auto ">
                                    <img src="../components/images/components-2.jpg" class="">
                                    <h4 class="mt-5 text-center">Random Access Memory (RAM)</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="bg-container">
                            <a href="#" class="text-decoration-none">
                                <div class="components-img d-flex flex-column justify-content-center mx-auto ">
                                    <img src="../components/images/components-3.jpg" class="">
                                    <h4 class="mt-5 text-center">Central Processing Unit (CPU)</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="bg-container">
                            <a href="#" class="text-decoration-none">
                                <div class="components-img d-flex flex-column justify-content-center mx-auto ">
                                    <img src="../components/images/components-4.jpg" class="">
                                    <h4 class="mt-5 text-center">Internal Solid State Drives (SSD)</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="bg-container">
                            <a href="#" class="text-decoration-none">
                                <div class="components-img d-flex flex-column justify-content-center mx-auto ">
                                    <img src="../components/images/components-5.jpg" class="">
                                    <h4 class="mt-5 text-center">Computer Cases</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="bg-container">
                            <a href="#" class="text-decoration-none">
                                <div class="components-img d-flex flex-column justify-content-center mx-auto ">
                                    <img src="../components/images/components-6.jpg" class="">
                                    <h4 class="mt-5 text-center">Power Supplies</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="bg-container">
                            <a href="#" class="text-decoration-none">
                                <div class="components-img d-flex flex-column justify-content-center mx-auto ">
                                    <img src="../components/images/components-7.jpg" class="">
                                    <h4 class="mt-5 text-center">Fans, Heatsinks and Cooling System</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="bg-container">
                            <a href="#" class="text-decoration-none">
                                <div class="components-img d-flex flex-column justify-content-center mx-auto ">
                                    <img src="../components/images/components-8.jpg" class="">
                                    <h4 class="mt-5 text-center">Motherboard (Mobo)</h4>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>


 <!-- ------------------ FEATURED PRODUCTS ---------------------- -->

            <div class="container-lg m-lg-auto products">
                <h2 class="title">Featured Products</h2>
                <div class="row d-flex justify-content-center" 
                    data-aos="fade-up"
                    data-aos-anchor-placement="top-bottom"
                    data-aos-offset="100">
                    <div class="col-4 d-flex flex-column">
                        <div class="product-title-star flex-grow-1">
                            <a href="#" class="text-decoration-none">
                                <p><i class="bi bi-suit-heart"></i> <span class="wishlist">Add to your wish list</span></p>
                                <img src="../home/images/product-1.jpg" >
                                <h4>PNY - NVIDIA GeForce GT 1030 2GB PCI-E 3.0 Graphics Card - Black</h4>
                            </a>
                        </div>
                        <div class="product-price-cart">
                            <div class="rating">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                            </div>
            
                            <div class="buy-me d-flex justify-content-between align-items-end flex-wrap">
                                <div class="price mt-2">
                                    <p>$121.99<br><span class="save" style="font-size:13px;">Save $28</span> <span class="text-decoration-line-through" style="font-size:12px;">$149.99</span></p>
                                </div>
                                <div class="cart mt-2">
                                    <a href="#" class="text-decoration-none">Add to Cart <i class="bi bi-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 d-flex flex-column">
                        <div class="product-title-star flex-grow-1">
                            <a href="#" class="text-decoration-none">
                                <p><i class="bi bi-suit-heart"></i> <span class="wishlist">Add to your wish list</span></p>
                                <img src="../home/images/product-2.jpg" >
                                <h4>MSI - NVIDIA GeForce RTX 3060 Ventus 3X 12G OC - 12GB GDDR6 - PCI Express 4.0 - Graphics Card - Black</h4>
                            </a>
                        </div>
                        <div class="product-price-cart">
                            <div class="rating">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
            
                            <div class="buy-me d-flex justify-content-between align-items-end flex-wrap">
                                <div class="price mt-2">
                                    <p>$349.99<br><span class="save" style="font-size:13px;">Save $40</span> <span class="text-decoration-line-through" style="font-size:12px;">$389.99</span></p>
                                </div>
                                <div class="cart mt-2">
                                    <a href="#" class="text-decoration-none">Add to Cart <i class="bi bi-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 d-flex flex-column">
                        <div class="product-title-star flex-grow-1">
                            <a href="#" class="text-decoration-none">
                                <p><i class="bi bi-suit-heart"></i> <span class="wishlist">Add to your wish list</span></p>
                                <img src="../home/images/product-3.jpg" >
                                <h4>MSI - NVIDIA GeForce GTX 1660 Super Ventus XS OC 6GB GDDR6 PCI Express 3.0 Graphics Card</h4>
                            </a>
                        </div>
                        <div class="product-price-cart">
                            <div class="rating">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
            
                            <div class="buy-me d-flex justify-content-between align-items-end flex-wrap">
                                <div class="price mt-2">
                                    <p>$229.99<br><span class="save" style="font-size:13px;">Save $40</span> <span class="text-decoration-line-through" style="font-size:12px;">$269.99</span></p>
                                </div>
                                <div class="cart mt-2">
                                    <a href="#" class="text-decoration-none">Add to Cart <i class="bi bi-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 d-flex flex-column">
                        <div class="product-title-star flex-grow-1">
                            <a href="#" class="text-decoration-none">
                                <p><i class="bi bi-suit-heart"></i> <span class="wishlist">Add to your wish list</span></p>
                                <img src="../home/images/product-4.jpg" >
                                <h4>MSI - AMD Radeon RX 6700 XT MECH 2X 12G OC - 12GB GDDR6 - PCI Express 4.0 - Graphics Card - Black</h4>
                            </a>
                        </div>
                        <div class="product-price-cart">
                            <div class="rating">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star"></i>
                            </div>
            
                            <div class="buy-me d-flex justify-content-between align-items-end flex-wrap">
                                <div class="price mt-2">
                                    <p>$389.99<br><span class="save" style="font-size:13px;">Save $140</span> <span class="text-decoration-line-through" style="font-size:12px;">$529.99</span></p>
                                </div>
                                <div class="cart mt-2">
                                    <a href="#" class="text-decoration-none">Add to Cart <i class="bi bi-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 

            </div>


<!-- ------------------------ TESTIMONIAL ---------------------- -->

        <div class="testimonial">
            <div class="container-lg">
                <div class="row d-flex justify-content-center">
                    <div class="col-3 col-tes">
                        <i class="bi bi-quote"></i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit amet ea at quaerat fugit qui ipsum, expedita tempora suscipit cumque necessitatibus dolore?</p>
                        <div class="rating">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                        </div>
                        <img src="../home/images/user-1.webp">
                        <h3>Katie Sample</h3>
                    </div>

                    <div class="col-3 col-tes">
                        <i class="bi bi-quote"></i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit amet ea at quaerat fugit qui ipsum, expedita tempora suscipit cumque necessitatibus dolore?</p>
                        <div class="rating">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                        </div>
                        <img src="../home/images/user-2.webp">
                        <h3>Beardman Sample</h3>
                    </div>

                    <div class="col-3 col-tes">
                        <i class="bi bi-quote"></i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit amet ea at quaerat fugit qui ipsum, expedita tempora suscipit cumque necessitatibus dolore?</p>
                        <div class="rating">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <img src="../home/images/user-3.webp">
                        <h3>Geek Sample</h3>
                    </div>
                </div>
            </div>
        </div>

<!-- ------------------------- BRANDS ---------------------------->   

        <div class="brands">
            <div class="container-lg">
                <div class="row d-flex justify-content-around align-items-center">
                    <div class="col-5">
                        <img src="../home/images/brand-1.png">
                    </div>
                    <div class="col-5">
                        <img src="../home/images/brand-2.png">
                    </div>
                    <div class="col-5">
                        <img src="../home/images/brand-3.png">
                    </div>
                    <div class="col-5">
                        <img src="../home/images/brand-4.png">
                    </div>
                    <div class="col-5">
                        <img src="../home/images/brand-5.png">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="footer">
        <footer class="container-lg">
            <div class="row d-flex justify-content-center align-items-start pt-4 ">
                <div class="col-3">
                    <a href="#">
                        <img src="../home/images/logo-white2.png" class="mb-3">
                    </a>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error, deserunt.</p>
                </div>
                <div class="col-3">
                    <h6>Subscribe/Newsletter</h6>
                    <form>
                        <div class="row d-inline-flex align-items-center justify-content-center mt-3">
                            <div class="col-12 d-flex flex-md-grow-1">
                                <input type="email" placeholder="Your Email" class="p-2">
                                <a href="#" class="p-2 text-decoration-none bg-white text-bg-light">
                                    <i class="bi bi-bell-fill p-2"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-3 links">
                    <h6>Useful Links</h6>
                    <ul class="list-unstyled mt-3">    
                        <li><a href="#" class=" text-decoration-none"><i class="bi bi-house-door me-2"></i> Home</a></li>
                        <li><a href="#" class=" text-decoration-none"><i class="bi bi-file-earmark-person me-2"></i> About</a></li>
                        <li><a href="#" class="text-decoration-none"><i class="bi bi-diagram-2 me-2"></i> Sitemap</a></li>
                        <li><a href="#" class=" text-decoration-none"><i class="bi bi-shield-lock me-2"></i> Privacy Policy</a></li>
                    </ul>
                </div>
                
                <div class="col-3 links">
                    <h6>Follow Us</h6>
                    <ul class="list-unstyled text-center mx-auto mt-3">    
                        <li><a href="#"><i class="bi bi-facebook me-2"></i> facebook</a></li>
                        <li><a href="#"><i class="bi bi-instagram me-2"></i> instagram</a></li>
                        <li><a href="#"><i class="bi bi-youtube me-2"></i> youtube</a></li>
                        <li><a href="#"><i class="bi bi-linkedin me-2"></i> linkedin</a></li>
                    </ul>
                </div>
                
            </div>
            <hr>
            <div class="row">
                <div class="col-3">
                    <p class="fs-6 text-center">Copyrights Reserve 2022 - Group 1</p>
                </div>
            </div>
        </footer>
    </div>

    
<!---------------- SCRIPTS ------------->
<!---- --------- BOOTSTRAP  ------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

<!---------------- BURGER MENU ON MOBILE ------------->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>


<!-- JQUERY FOR STICKY HEADER/NAV  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript">

        $(function(){

            $(window).scroll(function(){

                if($(window).scrollTop() > 0) {
                    $(".header").addClass("sticky");
                } else {
                    $(".header").removeClass("sticky");
                }

            });

        });
        
    </script>
</body>
</html>